<?xml version="1.0" encoding="UTF-8"?>

<openerp>
	<data>
	
		<!-- Top menu item -->
		<!-- -->
		<menuitem name="Gestion de Entregas" id="base.menu_main_rqr" />
					
		<menuitem name="Clientes" id="menu_cliente" parent="base.menu_main_rqr" 
					action="open_view_client_all" />
		<menuitem name="Vendedores" id="menu_vendedor" parent="base.menu_main_rqr" 
					action="open_view_vendor_all" />
		<menuitem name="Entregas" id="menu_entregas" parent="base.menu_main_rqr" />
		<menuitem name="Lista" id="menu_entregas_list" parent="menu_entregas"
			action="open_view_delivery_all" />
			
		<menuitem name="RQRs" id="menu_entregas_rqr" parent="menu_entregas"
			action="open_view_rqr_all" />

		<menuitem name="Llamados" id="menu_entregas_call" parent="menu_entregas"
			action="open_view_call_all" />

		<menuitem name="Configuración" id="menu_configuracion" parent="base.menu_main_rqr" groups="group_name_rqr_administrator"/>
		<menuitem name="Modelos" id="menu_vehicle_model_list" parent="menu_configuracion"
			action="open_view_vehicle_model_all" />
<!-- 		<menuitem name="Vendedores" id="menu_vendor" parent="base.menu_main_rqr"  -->
<!-- 					action="open_view_vendor_all" /> -->



	</data>
</openerp>