<?xml version="1.0" encoding="utf-8"?>
<openerp>

    <data noupdate="1">

        <record id="delivery_expired" model="delsol.event">
            <field name="name">Fechas de entregas vencidas y no entregadas</field>
            <field name="code">on_delivery_expired</field>
            <field name="emails"></field>
            <field name="acive">False</field>
        </record>
        <record id="rqr_created" model="delsol.event">
            <field name="name">RQR creadas del dia</field>
            <field name="code">on_rqr_created</field>
            <field name="emails"></field>
            <field name="acive">False</field>
        </record>


    </data>
</openerp>
